<!DOCTYPE html>
<html>
  <head>
    <title>x-engine hub</title>
    <!-- css: bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- js: jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- js: bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- js: script -->
    <script src="/script.js"></script>
    <!-- style sheet -->
    <style>
      .btn-slim {
        cursor: pointer;
        height: 20px;
        padding: 0px 5px;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>

    <!-- download frame -->
    <form id="download_form" style="display: none;" action="/download" method="post"> 
      <input type="hidden" id="name" name="name">
    </form>

    <!-- header container -->
    <div class="container">
      <div class="page-header">
        <h1>x-engine hub</h1>
      </div>
    </div>

    <!-- tab container -->
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#modules">Modules</a></li>
        <li               ><a data-toggle="tab" href="#servers">Servers</a></li>
        <li               ><a data-toggle="tab" href="#domains">Domains</a></li>
        <li               ><a data-toggle="tab" href="#setting">Setting</a></li>
      </ul>
    </div>

    <!-- body container -->
    <div class="container tab-content">

      <!-- modules -->
      <div id="modules" class="row tab-pane fade in active">
        <div class="col-md-12">
          <div class="panel" style="padding: 10px">
            <div class="row">
              <form action="/upload" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
                <div class="panel-body">
                  <div class="form-group">
                    UploadFile<input type="file" name="file" class="form-control" required="required">
                  </div>
                  <button class="btn btn-sm btn-success pull-right"><i class="glyphicon glyphicon-open"></i> Upload</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row" style="padding: 10px">
            <ul class="list-group">
              {{ range .files }}
                <li class="list-group-item">
                  <span><i class="glyphicon glyphicon-briefcase"></i>  {{ .Time }} : {{ .Name }}</span>
                  <span onclick="javascript:check('{{ .Name }} を削除します',function(){execute({key: 'removeFile', name: '{{ .Name }}'});});"
                      class="btn btn-sm btn-slim btn-danger pull-right"><i class="glyphicon glyphicon-trash"></i> Remove</span>
                  <a href="/download/{{ .Name }}" download class="btn btn-sm btn-slim btn-info pull-right"><i class="glyphicon glyphicon-save"></i> Download</a>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>

      <!-- servers -->
      <div id="servers" class="row tab-pane fade">
        <div class="col-md-12">
          <div class="panel" style="padding: 10px">
            <div class="row">
              {{ range $i, $e := .nodes }}
                <li class="list-group-item">
                  <div>
                    <i class="glyphicon glyphicon-hdd"></i> <a style="cursor: pointer;" data-toggle="collapse" data-target="#node-{{ $i }}">{{ .IP }}</a>
                    <span onclick="javascript:check('{{ .IP }}にサービスサーバを追加します', function() { redirect('#servers', { key: 'createServer' }); });"
                          class="btn btn-sm btn-slim btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> Add server</span>
                  </div>
                  <div id="node-{{ $i }}" class="collapse in">
                    <div class="panel panel-default">
                      <table class="panel-body table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th style="width: 26%">Name</th>
                            <th style="width: 6%">Port</th>
                            <th style="width: 7%">Status</th>
                            <th style="width: 35%">Module</th>
                            <th style="width: 26%">Operation</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ range .ServiceServers }}
                          <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Port }}</td>
                            <td>
                              {{ if eq .Status 0 }}StandBy
                              {{ else if eq .Status 1 }}Active
                              {{ else if eq .Status 2 }}Updating
                              {{ else }}Unknown
                              {{ end }}
                            </td>
                            <td>{{ .Module }}</td>
                            <td>
                              <span onclick="javascript:check('', function(){ execute({key: 'addServer'}); });"
                                    class="btn btn-sm btn-slim btn-primary"><i class="glyphicon glyphicon-pencil"></i> Rename</span>
                              {{ if ne .Status 2 }}
                              <span onclick="javascript:check('', function(){ execute({key: 'addServer'}); });"
                                    class="btn btn-sm btn-slim btn-info"><i class="glyphicon glyphicon-import"></i> Update</span>
                              {{ end }}
                              {{ if eq .Status 0 }}<!-- StandBy -->
                              <span onclick="javascript:check('', function(){ execute({key: 'addServer'}); });"
                                    class="btn btn-sm btn-slim btn-success"><i class="glyphicon glyphicon-play"></i> Start</span> 
                              {{ else if eq .Status 1 }}<!-- Active -->
                              <span onclick="javascript:check('', function(){ execute({key: 'addServer'}); });"
                                    class="btn btn-sm btn-slim btn-warning"><i class="glyphicon glyphicon-pause"></i> Pause</span>
                              {{ end }}
                             </td>
                          </tr>
                          {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              {{ end }}
            </div>
          </div>
        </div>
      </div>

      <!-- domains -->
      <div id="domains" class="row tab-pane fade">
        <div class="col-md-12">
          <div class="panel" style="padding: 10px">
            <div class="row">
              <span onclick="javascript:accept('新規ドメイン', function(newDomain){ redirect('#domains', { domain: newDomain }); });" 
                    class="btn btn-sm btn-success" style="margin-bottom: 12px;">
                <i class="glyphicon glyphicon-plus"></i> Add domain
              </span>
            </div>
            <div class="row">
              {{range .domains }}
                <li class="list-group-item">
                  <div>
                    <i class="glyphicon glyphicon-road"></i> <a style="cursor: pointer;" data-toggle="collapse" data-target="#domain-{{ .Class }}">{{ .Key }}</a>
                    <span onclick="javascript:check('{{ .Key }} にサービスサーバを追加します', function() { redirect('#domains', { key: 'addServer', domain: '{{ .Key }}' }); });"
                        class="btn btn-sm btn-slim btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> Assign server</span>
                  </div>
                  <div id="domain-{{ .Class }}" class="collapse">
                    <div class="panel panel-default">
                      <table class="panel-body table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th style="width: 26%">Name(IP:Port)</th>
                            <th style="width: 7%">Status</th>
                            <th style="width: 35%">Module</th>
                            <th style="width: 32%">Operation</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ range .ServiceServers }}
                          <tr>
                            <td>
                              {{ if .Name }}{{ .Name }}
                              {{ else }}{{ .Node.IP }}{{ .Port }}
                              {{ end }}
                            </td>
                            <td>
                              {{ if eq .Status 0 }}StandBy
                              {{ else if eq .Status 1 }}Active
                              {{ else if eq .Status 2 }}Updating
                              {{ else }}Closed
                              {{ end }}
                            </td>
                            <td>{{ .Module }}</td>
                            <td>
                              <span onclick="javascript:check('', function(){ execute({key: 'addServer'}); });"
                                    class="btn btn-sm btn-slim btn-danger"><i class="glyphicon glyphicon-remove"></i> Exclude</span>
                            </td>
                          </tr>
                          {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                 </li>
              {{end}} 
            </div>
          </div>
        </div>
      </div>

      <!-- setting -->
      <div id="setting" class="row tab-pane fade">
        <div class="col-md-12">
          <div class="panel" style="padding: 10px">
            {{ if .template }}
            <div class="row">
              <div class="panel-body">
                <div class="form-group">
                  Currently template: <span>{{ .template }}</span>
                </div>
              </div>
            </div>
            {{ end }}
            <div class="row">
              <div class="panel-body">
                <a href="/download/template" class="btn btn-info pull-right"><i class="glyphicon glyphicon-save"></i> Download template</a>
              </div>
            </div>
            <div class="row">
              <form action="/upload" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
                <div class="panel-body">
                  <div class="form-group">
                    TemplateFile<input type="file" name="file" class="form-control" required="required">
                  </div>
                  <button class="btn btn-sm btn-success pull-right"><i class="glyphicon glyphicon-tasks"></i> Apply template</button>
                </div>
              </form>
             </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>

